.game-link {
    color: black;
    background-color: #fff5;
    text-align: left;
    margin: auto 0;
    cursor: pointer;
}

.game-link:hover, .game-link:focus {
    color: #333;
    background-color: #fffc;
    text-decoration: underline;
}

.back-btn,
.next-btn {
    position: absolute;
    top: 0px;
}

.back-btn:hover,
.next-btn:hover {
    text-decoration: none;
}

.back-btn {
    left: 0px;
}

.next-btn {
    right: 0px;
}