@page
@model IndexModel
@{
    ViewData["Title"] = "Index";

    int varPg = Model.Pg;
    const int pageMax = 50;
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="main-content" style="padding-top: 0px; padding-bottom: 0px">
    @for (int i = varPg; i < varPg + pageMax; i++)
    {
        <div class="row">
            @if (i >= Program.GameDb.Games.Length)
            {
                <p class="col-sm">There is no more...</p>
            }
            else
            {
                <img class="col-xs thumbnail" src='@($"/db/wii/covers/{Program.GameDb.Games[i].Id}.png")'>
                <a class="col-sm game-link" href='@($"details?id={Program.GameDb.Games[i].Id}")'>@Program.GameDb.Games[i].Name</a>
            }
        </div>
        @if (i >= Program.GameDb.Games.Length)
        {
            break;
        }
    }
</div>

<div class="bottom-controls">
    <p>Viewing items @varPg - @(varPg + pageMax)</p>
</div>