@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div>
    @for (int i = 200; i < 300; i++)
    {
        <div class="row">
            <img class="col-xs thumbnail" src='@($"/db/wii/covers/{Program.GameDb.Games[i].Id}.png")'>
            <p class="col-sm">@Program.GameDb.Games[i].Name</p>
        </div>
    }
</div>
