@page
@model IndexModel
@{
    ViewData["Title"] = "Index";

    int varPg = Model.Pg;
}

<div class="main-content">
    @for (int i = varPg; i < varPg + 50; i++)
    {
        <div class="row">
            @if (i >= Program.GameDb.Games.Length)
            {
                <p class="col-sm">There is no more...</p>
            }
            else
            {
                <img class="col-xs thumbnail" src='@($"/db/wii/covers/{Program.GameDb.Games[i].Id}.png")'>
                <p class="col-sm">@Program.GameDb.Games[i].Name</p>
            }
        </div>
        @if (i >= Program.GameDb.Games.Length)
        {
            break;
        }
    }
</div>

<div class="bottom-controls">
    <p>Test</p>
</div>